@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url("images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Red Hat Display", sans-serif;
	color: grey;
}

.card-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card {
	height: 75%;
	width: 450px;
	background-color: white;
	border-radius: 15px;
	box-shadow: -3px 4px 6px 3px;
	overflow: hidden;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 50px;
}
.content h2 {
	color: black;
	margin: 40px 0 15px 0;
	font-size: 1.9rem;
	font-weight: 900;
}
.content p {
	margin-bottom: 1rem;
	text-align: center;
	line-height: 25px;
}
.content a {
	margin: 0 20px;
	font-weight: 900;
	cursor: pointer;
}
.content a:hover {
	text-decoration: none;
}
.plan-info {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: hsl(225, 100%, 98%);
	border-radius: 5px;
	margin-bottom: 2rem;
}
.plan-info img {
	margin: 20px 20px;
}
.amount {
	flex: 2;
}
.amount span {
	display: block;
}
.amount span:nth-child(1) {
	color: black;
	font-weight: 900;
}

.proceed {
	background-color: hsl(245, 75%, 52%);
	color: white;
	width: 100%;
	height: 3.2rem;
	border: none;
	border-radius: 10px;
	font-weight: 900;
	font-family: "Red Hat Display", sans-serif;
	margin-bottom: 1.5rem;
}
.proceed:hover {
	opacity: 0.7;
	cursor: pointer;
}
.cancel {
	background-color: white;
	color: grey;
	height: 3.2rem;
	border: none;
	font-weight: 900;
	font-family: "Red Hat Display", sans-serif;
	cursor: pointer;
}
.cancel:hover {
	color: black;
}
